:root {
  --color-bg-primary: rgba(22, 22, 26, 1);
  --color-bg-secondary: rgba(138, 129, 124, 0.6);
  --color-text-primary: rgba(165, 63, 43, 1);
  --color-text-secondary: rgba(240, 255, 206, 1);
  --color-border-primary: rgba(138, 129, 124);
  --color-link-hover: #7f5af0;
  --font-size-m: 16px;
  --font-size-l: 32px;
  --font-size-xl: 48px;
  --font-size-xxl: 96px;
  --gutter-s: 4px;
  --gutter-m: 16px;
  --gutter-l: 32px;
  --gutter-xl: 64px;
}
