:root {
  --color-bg-primary: rgb(22, 22, 26);
  --color-bg-secondary: rgb(194,215,223);
  --color-text-primary: rgb(132, 176, 130);
  --color-text-secondary: rgb(163, 196, 188);
  --color-border-primary: rgba(138, 129, 124);
  --color-link-hover: #BDA0BC;
  --font-size-m: 16px;
  --font-size-l: 32px;
  --font-size-xl: 48px;
  --font-size-xxl: 96px;
  --gutter-s: 4px;
  --gutter-m: 16px;
  --gutter-l: 32px;
  --gutter-xl: 64px;
}
